<div class="header-margin hidden-xs"></div>
<div class="ctrlPanel"></div>
<div class="welcome">
  <div class="container-fluid">
      <!-- Logo container -->
      <div class="container col-xs-12 col-lg-6 vertical-margins">
        <div class="col-lg-8 col-lg-offset-2">
          <%= image_tag 'logo.png', :class => 'img-responsive logo centered' %>
        </div>
      </div>
      <!-- Logo container END-->

      <!-- Sign-in Buttons container -->
      <div class="container col-xs-12 col-lg-6 vertical-margins">
        <h2 class="text-primary text-center top-margin">
          Please sign-in through Google before continuing.
        </h2>
        <div class="top-margin">
          <div class="centered" id="g-signin2"></div>
        </div>
        <div class="top-margin">
          <div class="centered">
            <div class="demo " onclick="window.callbacks.tryOut()">
              <div class="trial-text centered">Try It for 5 Minutes</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign-in Buttons container END -->
    </div>

  </div>
</div>
