<div>
  <h2 class="gsi">Welcome to</h2>
  <div class="container">
    <%= image_tag('onlinelogomaker-080816-2133.png') %>
  </div>
  <!-- <img src="./assets/images/onlinelogomaker-080816-2133.png" alt="" /> -->
  <h2 class="gsi">
    Please sign-in through Google before continuing.
  </h2>
  <div class="container">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>
</div>
