<div class="welcome">
  <div class="top-margin">
    <h2 class="gsi">Welcome to</h2>
    <div class="centered-div">
      <%= image_tag('onlinelogomaker-080816-2133.png') %>
    </div>
    <h2 class="gsi">
      Please sign-in through Google before continuing.
    </h2>
    <div class="centered-div">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
  </div>
</div>
