"use strict";

$(document).ready(function () {
  if (window._GraphBuilder === undefined) {
    var ctrlBuilder = window._GraphBuilder = {};
  };

  var CtrlBuilder = window._GraphBuilder.CtrlBuilder = function (graphBuilder) {
    this.buildEl = $('.ctrlPanel');
    this.graphBuilder = graphBuilder;
  };

  CtrlBuilder.prototype = {
    chartTypeSelectorButtons: function () {
      var iconsContainer = $('<div>')
          .addClass('btn-group btn-group-xs icons col-xs-5 col-sm-3 col-md-2')
          .appendTo(this.buildEl);

      var that = this;

      var clickHandler = function (event) {
        if (!$(this).hasClass('active')) {
          $(this).addClass('active');
          if (that.graphBuilder.chartType === 'candlesticks') {
            that.graphBuilder.chartType = 'line';
            $('.cs-icon').removeClass('active');
          } else {
            that.graphBuilder.chartType = 'candlesticks';
            $('.lg-icon').removeClass('active');
          }

          that.graphBuilder.updateChart();
        };
      };
      // Make line graph button
      var lgButton = $('<button>')
        .addClass('btn btn-default lg-icon col-xs-5')
        .appendTo(iconsContainer).click(clickHandler);

      $('<img>').addClass('chart-icons').attr('src', '<%= image_url('lg-icon.png') %>').appendTo(lgButton);

      // Make candlesticks graph button with default active class
      var csButton = $('<button>')
        .addClass('btn btn-default cs-icon col-xs-5 col-xs-offset-1 active')
        .appendTo(iconsContainer).click(clickHandler);

      $('<img>').addClass('chart-icons').attr('src', '<%= image_url('cs-icon.png') %>').appendTo(csButton);

      return iconsContainer;
    },

    symbolInput: function () {
      var inputGroup = $('<form>').addClass('input-group input-group-lg col-xs-6 col-md-4 col-md-offset-4').appendTo(this.buildEl);

      var that = this;
      var searchClickHandler = function (evt) {
        evt.preventDefault();

        var newSymbol = $('input').val().toUpperCase().trim();
        $('input').val(newSymbol);

        that.graphBuilder.dataRequest(newSymbol);
      };

      var symbolInput =
      $('<input>').attr({ type: 'text', id:'symbol', value: 'GOOG', placeholder: "Type Symbol Here."})
        .addClass('form-control').appendTo(inputGroup);

      var buttonAddon = $('<span>').addClass('input-group-btn').appendTo(inputGroup);

      var lookupButton = $('<button>').addClass('btn btn-default')
          .attr("type", "submit")
          .appendTo(buttonAddon)
          .append('<span class="glyphicon glyphicon-search"></span>')
          .click(searchClickHandler);

      return inputGroup;
    },

    setGraphBuilder: function (graphBuilderInstance) {
      this.graphBuilder = graphBuilderInstance;
    }
  };

});
