/* Main graph axes */
.xAxis line,
.xAxis tick,
.xAxis text,
.xAxis path,
.yAxis line,
.yAxis tick,
.yAxis text,
.yAxis path {
  stroke: blue;
  stroke-width: 0.3px;
  opacity: 0.5
}

.xAxis .grid, .yAxis .grid {
  stroke: gray;
  opacity: 0.7;
  stroke-dasharray: 5;
  stroke-width: 0.3;
}

/* Line graph */
.line path {
  fill: none;
  stroke: firebrick;
  stroke-width: 1.5px
}


/* Symbol area */
text.symbol {
  font-size: 14px;
  font-family: monospace;
}

.symbol rect {
  fill: lightgray;
}

.symbol rect.focused {
  stroke: black;
  stroke-width: 0.5;
  fill: yellow
}

.symbol text {
  stroke: forestgreen;
  fill: forestgreen;
  font-size: 20px;
  font-family: monospace;
}

text.symbol:hover {
  cursor: text
}

/* Info box (HLOC)*/
.box rect{
  fill: white;
  stroke: gray;
  stroke-opacity: 0.7;
}


.box text {
  stroke: black;
  stroke-width: 0.1px;
  font-size: 11px;
}


/*Volume barchart*/
.volX text,
.volY text {
  stroke: black;
  stroke-width: 0.2px;
  fill: black;
}

.barchart line {
  stroke: green;
}

.barchart line:hover {
  stroke: darkgreen;
  stroke-width: 3px;
}


/* Candlestick chart */
line.sticks {
  stroke: black;
}

rect.gain {
  stroke: black;
  fill: lightgreen;
}
rect.loss {
  stroke: black;
  fill: red;
}


/* Time Range Line */
rect.timelineArea {
  fill: #a0d0f7;
  opacity: 0.2;
}

rect.timeRange {
  fill: #a0d0f7;
  opacity: 0.8;
}

rect.handle  {
  fill: lightgray;
  stroke: black;
  opacity: 1
}

rect.handle:hover {
  cursor: grab;
}


/* Chart Selector icons */
rect.icon-bg {
  fill: gray;
  stroke: black;
  opacity: 0.2;
}

rect.icon-bg.selected {
  fill: none;
  stroke: none;
  opacity: 0;
}

/* Change indicator */
text.pos {
  fill: lightgreen;
}

text.neg {
  fill: red;
}

/* Instruction text */
text.teach {
  font-size: 12px;
  fill: black;
  stroke-width: 0.2;
  text-anchor: middle;
  opacity: 0;
}
